/*****************************************/

/* For small devices 0 to 480 px*/

/*****************************************/

@media only screen and (max-width: 480px) {

    section {
        padding: 20px 0;
    }

    .contact-form {
        width: 100%;
    }
}


/*****************************************/

/* For devices lesser than ipad (768px)  */

/*****************************************/

@media only screen and (max-width: 767px) {

    body {
        font-size: 16px;
    }
    section {
        padding 30px 0;
    }
    .row,
    header-text-box {
        padding: 0 4%;
    }

    .col {
        width: 100%;
        margin: 0 0 4% 0%;
    }

    main-nav {
        display: none;
    }

    .long-copy {
        width: 100%;
        margin-left: 0%;
    }

    h1 {
        font-size: 180%;
    }

    h1 {
        font-size: 200%;
    }

    .works-steps {
        margin-bottom: 20px
    }
    .works-steps:last-of-type {
        margin-bottom: 20px;
    }

    .works-steps div {
        height: 40px;
        width: 45px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }

    .steps-box:first-child {
        text-align: center;
    }

    .app-screen {
        width: 35px;
    }
}

/*****************************************/

/* For small to big tablets from 768px - 1023px  */

/*****************************************/

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    section {
        padding: 60px 0;
    }
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    .step-box {
        margin-top: 10px;
    }
    .steps-box:last-child {
        margin-top: 10px;
    }
    .works-steps {
        margin-bottom: 40px
    }
    .works-steps:last-of-type {
        margin-bottom: 60px;
    }
    .app-screen {
        width: 50%;
    }
    .icon-small {
        width: 15px;
        margin-right: 5px;
    }

    .city-feature {
        font-size: 90%;
    }

    .plan-box {
        width: 100%;
        margin-left: 0%;
    }

    .plan-price {
        font-size: 250%;
    }

    .contact-form {
        width: 80%;
    }
}

/*****************************************/

/* For big tablet to 1023px (width smaller than our row width i.e. 1140px) */

/*****************************************/

@media only screen and (max-width: 1200px) {
    .header-text-box {
        position: absolute;
        width: 100%;
        padding: 0 2%;
    }

    .row {
        padding: 0 2%;
    }
}
